<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="vn.edu.poly.projectone">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.IntroActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MenuActivity" />
        <activity android:name=".activity.NorthernActivity" />
        <activity android:name=".activity.SouthActivity" />
        <activity android:name=".activity.CentralActivity" />
        <activity android:name=".cook.NorthernGrilledActivity" />
        <activity android:name=".northern.NorthernThitBaChiActivity" />
        <activity android:name=".northern.NorthernThitXienNuongActivity" />
        <activity android:name=".northern.NorthernMoonCakeActivity" />
        <activity android:name=".northern.NorthernMuoiOtActivity" />
        <activity android:name=".type.NorthernCowActivity" />
        <activity android:name=".cook.NorthernSauteActivity" />
        <activity android:name=".cook.NorthernFriedActivity" />
        <activity android:name=".type.NorthernChickenActivity" />
        <activity android:name=".type.NorthernPigActivity" />
        <activity android:name=".type.NorthernSeaFoodActivity" />
        <activity android:name=".cook.SouthGrilledActivity" />
        <activity android:name=".cook.SouthSauteActivity" />
        <activity android:name=".cook.SouthFriedActivity" />
        <activity android:name=".cook.CentralFriedActivity" />
        <activity android:name=".cook.CentralGrilledActivity" />
        <activity android:name=".cook.CentralSauteActivity" />
        <activity android:name=".type.SouthChickenActivity" />
        <activity android:name=".type.SouthCowActivity" />
        <activity android:name=".type.SouthPigActivity" />
        <activity android:name=".type.SouthSeaFoodActivity" />
        <activity android:name=".type.CentralChickenActivity" />
        <activity android:name=".type.CentralCowActivity" />
        <activity android:name=".type.CentralPigActivity" />
        <activity android:name=".type.CentralSeaFoodActivity" />
        <activity
            android:name=".activity.DiaryActivity"
            android:label="@string/title_activity_diary"
            android:theme="@style/AppTheme" />
        <activity android:name=".activity.AddDiaryActivity" />
        <activity android:name=".activity.ChageLanguageActivity"></activity>
    </application>

</manifest>